<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns ="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
id ="com.phonegap.app8"
version = "1.0.0">

<name> app8 Geolocalizacion con google maps </name>

<description>
Muestra la ubicacion del dispositivo de acuerdo al GPS y en el mapa de google maps
</description>

<author href="https://build.phonegap.com" email="cb16.carolina.garcia.bielma@gmail.com">
Zyanya Carolina Garcia Bielma
</author>

<!-- Personaliza la aplicacion y plataforma -->
<preference name="orientation"	value="default" />
<preference name="target-device" value="universal" />
<preference name="fullscreen"	value="true"/>
<preference name="android-installLocation" value="auto"/>
<preference name="permissions" value="INTERNET"/>

<!-- Plugins -->
<plugin name="cordova-plugin-device" spec="~1.1.4" />
<plugin name="cordova-plugin-vibration" spec="~2.1.3" />
<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />

<!-- Plugins para geolocalizar-->
<plugin name="cordova-plugin-geolocation" spec="2.4.3"/>

<!--Para accesar en paginas en internet-->
<allow-intent href="https://*/*"/>
<acces origin="https://*/*"/>
<allow-intent href="http://*/*"/>
<acces origin="http://*/*"/>
<plugin name="cordova-plugin-whitelist" source="npm"/>

  <!--Colocar icono app-->
<icon src="res/android/mdpi.png"/>

</widget>